/* PRIMARY COLOR */
$black: #020b15;
$white: #ffffff;
$red: #ff4d5a;
$gray: #393939;
$lightgray: #d3d3d3;
$cyanblue: #2b394a;

/* FONT COLOR */
$font-primary: $black;
$font-primary-invert: $white;
$font-secondary: $red;
$font-title: $cyanblue;

/* BACKGROUND COLOR */
$background-primary: $black;
$background-secondary: $white;
